firmware/Powermeter.X/disassembly
firmware/Powermeter.X/build
firmware/Powermeter.X/debug
firmware/Powermeter.X/dist
firmware/Powermeter.X/.generated_files
firmware/Powermeter.X/mcc_generated_files/usb/utilities
hardware/KiCad/fp-info-cache
hardware/KiCad/Powermeter-backups
software/Python/__pyache__
software/Python/lib/__pyache__
